requests
tqdm
pandas
numpy
sqlalchemy
matplotlib
seaborn
xgboost
xlrd
tensorflow[and-cuda]
openpyxl
scikit-learn
scipy
keras
lightgbm
catboost
BeautifulSoup4
imbalanced-learn
pubchempy
mlxtend
torch
torchvision
transformers
peft
trl
tf-keras
openai
